PORT=4900
BASE_URL=http://localhost:4900

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root4900
DB_NAME=beautynest

GOOGLE_CALLBACK_URL=http://localhost:4900/auth/google/callback
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
SESSION_SECRET=YOUR_SESSION_SECRET
STRIPE_SECRET_KEY=sk_test_xxxxxx
ADMIN_EMAILS=your_email@gmail.com
